
.negative {
	border-left:4px solid #FF3B30;
}
.positive {
	border-left:4px solid #5AD427;
}
.inwork{
	border-left:4px solid #5AC8FB;
}
}
.info-extra{
	display:none;
}
.gold {
	border-left:4px solid #FFDB4C;
}