{% extends 'rewards/rewards.html'%}
{%load static%}

{% block rewards%}
<!-- content-8  -->
<section class="content-8 v-center">
	<div>
		<div class="container">
			<div class="row">
				<h3>"{{reward.title}}" Coupons
					<a class='btn btn-clear' href='{% url "rewards-vendor-coupons-generate" reward.id %}'><i class="fa fa-plus"></i> generate 5 more</a>
				</h3>
			</div>



			<table class='table table-hover'>
				<tbody>
					{% for coupon in coupons%}
					<tr>
						<td>#<b>{{coupon.id}}</b></td>
						<td>{{coupon.code}}</td>
						<td>{{coupon.status}}</td>
						<td>{{coupon.worker.profile.short_name}}</td>
						<td>{{coupon.date_updated}}</td>
					</tr>
					{% endfor%}
				</tbody>
			</table>
		</div>
	</div>
</section>
{% endblock%}