{% extends 'base_bootstrap.html'%}

{% block title%}
<div class='container'>
	<h1>Rewards</h1>
	<p>
		<a href = '{% url "reward-create" vendor.id %}' class='btn btn-primary'>create reward</a>

	</p>
</div>
{% endblock%}

{% block content%}
<div class="container">
	<table class='table table-hover'>
		{% for reward in object_list %}
		<tr>
			<td>#{{forloop.counter}}</td>
			<td>id:{{reward.id}}</td>
			<td>{{reward.title}}</td>
			<td><a href="{% url 'coupon-list' reward.id %}" class='btn btn-default'><i class="fa fa-ticket"></i> coupons</a></td>
			<td><a href="{% url 'reward-update' reward.id %}" class='btn btn-default' ><i class="fa fa-pencil"></i> edit</a></td>
		</div>
	</tr>
	{% empty %}
	<h3>No rewards yet.</h3>
	{% endfor %}

</div>
{% endblock%}