{% extends 'rewards/rewards.html'%}
{%load static%}

{% block rewards%}

<!-- content-8  -->
<section class="content-8 v-center">
		<div class="container">
			<form method='POST' action='{% url 'rewards-vendor-reward-save' vendor.id %}'>
				{% csrf_token %}
				<div class="row">
					<div class="offset3 span6 vendor-form">
						<p class='lead'>New Reward</p>
						<input type='text' name='reward_title' placeholder='Reward title'>
						<textarea name='reward_description' placeholder='description'></textarea>
						<input type='text' name='reward_image_url' placeholder='image url'>
						<input type='text' name='reward_website_url' placeholder='url link'>

						<input type='text' name='reward_cost' placeholder='cost in euro'>
					</div>
				</div>
				<div class='row'>
					<div class="span12">
						<p class='center'> <input type = 'submit' class='btn btn-clear' value='Save'></p>
					</div>
				</div>
			</form>
		</div>
</section>
<style>
.vendor-form > *{
	width:100%;
	padding:10px 5px;
}
</style>
{% endblock%}

{% block scripts%}

{% endblock%}