{%load static%}

<meta charset="utf-8">
<title>CrowdCafe</title>

<!-- for Google -->
<meta name="description" content="Mobile Crowdsourcing Platform. Perform simple tasks with your smartphone and earn rewards such as coffee, ice-cream, bus tickets." />
<meta name="keywords" content="crowdcafe, crowdsourcing, mobile, rewards, amazon mechanical turk, crowdflower, microworkers, micro-tasking" />
<meta name="author" content="Pavel Kucherbaev" />

<meta name="application-name" content="crowdcafe.io" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{% static 'img/icon_32.png' %}">

<!-- for Facebook -->          
<meta property="og:title" content="CrowdCafe.io" />
<meta property="og:type" content="web-application" />
<meta property="og:image" content="{% static 'landing/img/iPhone5s.png' %}" />
<meta property="og:url" content="http://crowdcafe.io" />
<meta property="og:description" content="Mobile Crowdsourcing Platform. Perform simple tasks with your smartphone and earn rewards such as coffee, ice-cream, bus tickets." />

<!-- for Twitter -->          
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="CrowdCafe.io" />
<meta name="twitter:description" content="Mobile Crowdsourcing Platform. Perform simple tasks with your smartphone and earn rewards such as coffee, ice-cream, bus tickets." />
<meta name="twitter:image" content="{% static 'landing/img/iPhone5s.png' %}" />