{%load static%}
<!--  Bootstrap3  -->
<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css">

<!--  FontAwesome  -->
<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css'%}">  

<!--  Brand Buttons -->
<link rel="stylesheet" href="{% static 'BrandButtons/dist/brand-buttons.min.css'%}">
<link rel="stylesheet" href="{% static 'BrandButtons/dist/brand-buttons-inversed.min.css'%}">

<link rel="stylesheet" href="{% static 'kitchen/css/jobs.css'%}">