Django==1.7.7
Markdown==2.4.1
Pillow==2.5.1
PyYAML==3.11
South==0.8.4
amqp==1.4.5
anyjson==0.3.3
beautifulsoup4==4.3.2
billiard==3.3.0.17
boto==2.29.1
celery==3.1.12
django-bower==5.0.1
django-celery==3.1.10
django-cors-headers==0.12
django-crispy-forms==1.4.0
django-filter==0.7
django-gravatar==0.1.0
django-jsonfield==0.9.4
django-libs==1.58.5
django-mobi==0.1.7
django-model-utils==2.0.3
django-paypal==0.1.3
django-paypal-express-checkout==1.7.1
django-social-auth==0.7.7
django-storages==1.1.8
djangorestframework==2.3.14
djangorestframework-csv==1.3.3
dj-database-url==0.3.0
djrill==0.7.0
docopt==0.4.0
drf-nested-routers==0.1.3
dropbox==2.1.0
dumptruck==0.1.6
gunicorn==19.1.1
factory-boy==2.4.1
httplib2==0.9
kombu==3.0.19
numpy==1.8.1
oauth2==1.5.211
oauthlib==0.6.3
opbeat==3.0
python-openid==2.2.5
pytz==2014.4
requests==2.3.0
requests-oauthlib==0.4.0
scraperwiki==0.3.10
six==1.4.0
urllib3==1.8.3
wsgiref==0.1.2
