{%load static%}
{% if coupons.count > 0%}
<div class='content-block-title'>Your Coupons:</div>
<div class="list-block ">
	<ul>
		{% for coupon in coupons%}

		<li class="swipeout ">
			<div class="swipeout-content item-content coupon">
				<div class="item-media"><img src="{% static 'libs/icons8/gift_white.png' %}" width="20"></div>
				<div class="item-inner">
					<div class="item-title-row">
						<div class="item-title">
							<a href="#" reward-vendor="{{coupon.reward.vendor.title}}" reward-title = "{{coupon.reward.title}}" reward-index = "{{coupon.id}}" reward-code = "{{coupon.code}}" reward-description="{{coupon.reward.description}}" data-popup=".coupon-popup" class="open-popup">{{coupon.reward.title}}<br/> <small>{{coupon.reward.vendor.title}}</small></a>
						</div>
					</div>	
				</div>
			</div>
			<div class="swipeout-actions">
				<div class="swipeout-actions-inner">
					<a href="{% url 'cafe-coupon-activate' coupon.id%}" class="link external">Mark as used</br> and remove
					</div>
				</div>
			</a>
		</li>
		{%endfor%}
	</ul>
</div>

{% endif %}