div,p{
	font-weight: 200 !important;
}
h3{
	font-weight: 200 !important;
}
p{
	font-weight: 200 !important;
}
b,strong,h4,h5,h6 {
	font-weight: 500;
}
.btn{
	border:1px solid;
	font-weight: 200;
}
.btn-toolbar .btn-group .btn{
	border:none;
}
label.uploadbutton input {
	display: none;   
}
iframe{
	border: none;
}
.logo{
	width:50px;
}
label.radio{
	text-align: left;
}
.row.dataset_options > div{
	display:none;
}
.row.dataset_options > div.active{
	display:block;
}

.header-10-sub .background {
	background-image: url("../img/bg/cafe.jpg");
	opacity: 0.85;
	filter: alpha(opacity=85);
}
.header-10-sub h1{
	font-weight: 100 !important;
}
.header-10-sub h1{
	font-size: 80px !important;
}
.content-23.custom-bg {
	background-image: url('../img/bg/trento.jpg');
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.navbar a{
	font-weight: 200 !important;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}

h1{
	font-weight: 100;
}
