{% extends 'kitchen/kitchen.html'%}
{%load static%}

{% block kitchen%}
<!-- content-8  -->
<section class="">
	<div>
		<div class="container">
			<div class="row">
				<div class="col-sm-12"><h1>{{job.title}}</h1>
				</div>
			</div>
			<table class='table table-hover'>
				<tbody>
					{% for answer in answers%}
					<tr >
						<td>
							{{answer.executor.profile.full_name}}<br/>
							score: <strong>{{answer.score}}</scrong>
						</td>
						<td>
							{{answer.value}}<br>
							<table class='table table-hover'>
								{% for answeritem in answer.answeritems%}
								<tr class="{% if answeritem.score < 0 %}negative{%endif%} {% if answeritem.score > 0%}positive{%endif%}">
									<td>
										#{{answeritem.dataitem.id}}
									</td>
									<td>
										{{answeritem.score}}
									</td>
									<td>
										<small>{{answeritem.dataitem.value}}</small><br/>
										{{answeritem.value}}
									</td>

								</tr>
								{% endfor%}
							</table>
						</td>
						<!--td>
							<a href='{% url "kitchen-job-status-change" job.id "DL" %}' class="btn btn-googleplus">Delete</a>
						</td-->
					</tr>
					{% endfor%}
				</tbody>
			</table>
			
		</div>
	</div>
</section>
<footer class="footer-3">
	<div>
		<div class="container">
			<p class='lead'>Job Discussion
			</p>
			<div>
				<script>
				var disqus_title = '{{job.title}}';
				var disqus_identifier = '{{job.id}}'
				</script>
				{% include 'snippets/disqus.html'%}	
			</div>
		</div>
	</div>
</footer>
{% endblock%}