{% extends 'kitchen/kitchen.html'%}
{%load static%}

{% block kitchen%}
<!-- content-8  -->
<section class="content-8 v-center">
	<div>
		<div class="container">
			<div class="row">
				<div class="span12">
					<p class='lead'>{{job.title}} 
					</p>
				</div>
			</div>
			<table class='table table-hover'>
				<tbody>
					{% for dataitem in dataitems%}
					<tr class='{% if dataitem.status = 'NR'%}inwork{%endif%} {% if dataitem.status = 'FN'%}positive{%endif%} {% if dataitem.gold%}gold{%endif%}'>
						<td>
							#{{dataitem.id}}
						</td>
						<td>
							{{dataitem.value}}<br>
							<table class='table table-hover'>
								{% for answeritem in dataitem.answeritems%}
								<tr class="{% if answeritem.score < 0 %}negative{%endif%} {% if answeritem.score > 0%}positive{%endif%}">
									<td>
										<small>#{{answeritem.id}}</small>
									</td>
									<td>
										<small>@{{answeritem.answer.executor.profile.short_name}}</small>
									</td>
									<td>
										<small>{{answeritem.score}}</small>
									</td>
									<td>
										<small>{{answeritem.value}}</small>
									</td>

								</tr>
								{% endfor%}
							</table>
						</td>
						<!--td>
							<a href='{% url "kitchen-job-status-change" job.id "DL" %}' class="btn btn-googleplus">Delete</a>
						</td-->
					</tr>
					{% endfor%}
				</tbody>
			</table>
			<p class='lead'>Job Discussion
			</p>
			<div>
				<script>
				var disqus_title = '{{job.title}}';
				var disqus_identifier = '{{job.id}}'
				</script>
				{% include 'snippets/disqus.html'%}	
			</div>
		</div>
	</div>

</section>
{% endblock%}