{% extends 'kitchen/kitchen.html'%}
{%load static%}

{% block kitchen%}
<!-- content-8  -->
<section class="content-8 v-center">
	<div>
		<div class="container">



			<div class="row">
				<div class="span12">
					<p class='lead'>Jobs 
						<a class='btn btn-googleplus' href='{% url 'kitchen-job-new'%}'><i class="fa fa-plus"></i> Create new</a>
						<a class="btn btn-googleplus" href="mailto:team@crowdcafe.io" target="_blank"><i class="fa fa-envelope"></i> Ask us to design a job for you (free)!</a>
					</p>
				</div>
			</div>
			<table class='table table-hover'>
				<tbody>
					{% for job in jobs%}
					<tr>
						<td>
							#{{job.id}}
						</td>
						<td>
							<a href="{% url 'kitchen-job' job.id%}" target='_blank'><strong>{{job.title}}</strong></a>
						</td>
						<td>
							{{job.description}}<br>
							<small>Published {{job.date_created|timesince}} ago
							{% if job.webhook_url %}<br/>{{job.webhook_url}}{% endif %}
							</small>
						</td>
						<!--td>

							{% if job.dataset_file%}
							<a href='{{job.dataset_file.url}}' target='_blank'>initial dataset</a>
							{% endif%}
							{% if job.options_file%}
							<a href='{{job.options_file.url}}' target='_blank'>options</a>
							{% endif%}
						</td-->

						<td>
							{% if job.status = 'ST'%}
							<a href='{% url "kitchen-job-status-change" job.id "NP" %}' class='btn' > withdraw</a>
							{% endif %}
							{% if job.status = 'NP'%}
							<a href='{% url "kitchen-job-status-change" job.id "ST" %}' class='btn'> publish</a>
							{% endif %}
						</td>
						<!--td>
							{{job.category}}
						</td-->
						<td>
							<a href='{% url "api-job-csv" job.id%}' class="btn" > results_all.csv</a>
							<a href='{% url "api-job-csv" job.id%}?status=FN' class="btn" > results_fn.csv</a>
							<!--a href='{% url "api-job-answers" job.id%}' > JSON</a-->
						</td>
						<td>
							<a href="{% url 'cafe-job-assign' job.id%}" class="btn">Execution</a>
							<a href='{% url "kitchen-job-status-change" job.id "DL" %}' class="btn btn-googleplus">Delete</a>
						</td>
					</tr>
					{% endfor%}
				</tbody>
			</table>
			<div>
				<script>
				var disqus_title = 'crowdcafe - kitchen';
				var disqus_identifier = 'crowdcafe - kitchen'
				</script>
				{% include 'snippets/disqus.html'%}	
			</div>
		</div>
	</div>

</section>
{% endblock%}