{% extends 'kitchen/kitchen.html'%}
{%load static%}

{% block kitchen%}
<!-- content-8  -->
<section class="content-8 v-center">
	<div>
		<div class="container">



			<div class="row">
				<div class="span12">
					<p class='lead'>Tasks 
						<a class='btn btn-clear' href='{% url 'kitchen-task-new'%}'><i class="fa fa-plus"></i> Create new</a>
						<a class="btn btn-clear" href="mailto:team@crowdcafe.io" target="_blank"><i class="fa fa-envelope"></i> Ask us to design a task for you (free)!</a>
					</p>
				</div>
			</div>
			<table class='table table-hover'>
				<tbody>
					{% for task in tasks%}
					<tr>
						<td>
							#{{task.id}}
						</td>
						<td>
							<a href="{% url 'cafe-taskinstance-assign' task.id%}" target='_blank'><strong>{{task.title}}</strong></a>
						</td>
						<td>
							{{task.description}}<br>
							<small>Published {{task.date_created|timesince}} ago</small>
						</td>
						<td>

							{% if task.dataset_file%}
							<a href='{{task.dataset_file.url}}' target='_blank'>initial dataset</a>
							{% endif%}
							{% if task.options_file%}
							<a href='{{task.options_file.url}}' target='_blank'>options</a>
							{% endif%}
						</td>

						<td>
							{% if task.status = 'ST'%}
							<a href='{% url "kitchen-task-status-change" task.id "NP" %}' class='btn' > withdraw</a>
							{% endif %}
							{% if task.status = 'NP'%}
							<a href='{% url "kitchen-task-status-change" task.id "ST" %}' class='btn'> publish</a>
							{% endif %}
						</td>
						<!--td>
							{{task.category}}
						</td-->
						<td>
							<a href='{% url "api-task-csv" task.id%}' class="btn" > results_all.csv</a>
							<a href='{% url "api-task-csv" task.id%}?status=FN' class="btn" > results_fn.csv</a>
							<!--a href='{% url "api-task-answers" task.id%}' > JSON</a-->
						</td>
						<td>
							<a href='{% url "kitchen-task-status-change" task.id "DL" %}' class="btn btn-clear">Delete</a>
						</td>
					</tr>
					{% endfor%}
				</tbody>
			</table>
		</div>
	</div>

</section>
{% endblock%}