{% extends 'kitchen/kitchen.html'%}
{%load static%}


{% block kitchen%}
<style>
.btn-toolbar{
	z-index:1;
	opacity:0.95;
}
.create-preselection{
	margin-top:-10px;
}
</style>
<!-- content-8  -->
<section class="content-8 v-center">
	<div>
		<div class="container">
			<h1>Create a job in 6 easy steps:</h1>
			<form method='POST' action='{% url 'kitchen-job-save' %}' enctype="multipart/form-data">
				{% csrf_token %}

				<div class="row">
					<div class="span6">
						<p class='lead'>1. Title</p>
						<span>Be specific. 1 - 5 words only. </span>
						<input type='text' name='job_title' style="width:100%;padding:10px 0px;" placeholder='Sentiment Analysis'>
					</div>
					<div class="span6">
						<p class='lead'>2. Instructions</p>
						<span>Clear instructions. Not more than 140 characters.</span>
						<textarea type='text' name='job_description' style="width:100%;padding:10px 0px;"></textarea>
					</div>
				</div>
				<div class='row'>
					<hr/>
				</div>
				<div class='row'>
					<div class="span3">
						<p class='lead'>3. Category</p>
						{% for category in task_categories%}
						<label class="radio">
							<input type="radio" name="job_category" id="optionsRadios1" value="{{category.id}}" data-toggle="radio" checked="checked">
							<b>{{category.title}}</b> ({{category.cost}}&euro; / {{category.time}})
						</label>
						{% endfor %}
					</div>
					<div class="span6 preselection-block">
						<p class='lead'>4. Preselection (optional)</p>
						<div >
							<select class='preselection_new_rule_type'>
								<option value="WO">worked on a job</option>
								<option value="NW">did not work on a job</option>
							</select>
							<select class='preselection_new_related_task'>
								<option value="0">select a job</option>
								{% for job in jobs%}
								<option value="{{job.id}}">#{{job.id}} {{job.title}}</option>
								{% endfor%}
							</select>
							<input type="button" class="btn btn-primary create-preselection" value="+">
						</div>
					</div>
					<div class="span3">
						<p class='lead'>5. User Interface</p>
						
						<input  class='block center'  type='text' style='width:100%;padding:10px 0px;' name='userinterface_template' placeholder= 'URL leading to raw HTML file' >
						<select name="template-list" style="width:60%;">
							<option value="" >Select a template</option>
							{% for html_template in html_templates %}
							<option value="{{html_template.url}}" >{{html_template.name}}</option>
							{% endfor %}
						</select><br/>
						<span>URL leading to raw HTML file.</span><br/>
						<span>check existing <a href ="https://github.com/CrowdCafe/crowdcafe-ui-templates" target="_blank" >templates</a> on GitHub.</span>
					</div>
				</div>
				<div class='row'>
					<hr/>
				</div>
				<div class="row">
					<div class="span12">
						<p class='lead'>6. Data <div class="btn-toolbar">
							<div class="btn-group dataset_options">
								<a class="btn btn-primary" block-name = "api" href="#"><i class="fa fa-circle-o"> API use</i></a>
								<a class="btn btn-primary" block-name = "survey" href="#"><i class="fa fa-circle-o"> Survey</i></a>
								<a class="btn btn-primary" block-name = "dataset" href="#"><i class="fa fa-file-o"> Dataset .CSV</i></a>
								<a class="btn btn-primary" block-name = "feed" href="#"><i class="fa fa-globe"> Social Network</i></a>
							</div>
						</div></p>

					</div>
				</div>
				<input type = "hidden" id="dataset_option_selected" name="dataset_option_selected" value = "">
				<div class="row dataset_options">
					<div class="span12 block-api">
						<p>No data (dataitems will be uploaded via API)</p>
					</div>
					<div class="span12 block-survey">
						<p>Survey. Only one dataitem will be created (questions are defined in a UI template). </p>
					</div>
					<div class="span12 block-dataset">
						<label class="uploadbutton">
							<div class="btn"  style="width:100%;padding:10px 0px;">Upload</div>
							<p><a href = '{% static "files/dataset_template.csv" %}' target='_blank'>dataset template</a></p>
							<input type="file" name='dataset' onchange="this.previousSibling.previousSibling.innerHTML = this.value"/>
						</label>
					</div>
					<div class="span12 block-feed">
						<input  class='block'  type='text' style='float:left;margin-top:2px;width:15%;text-align: center;' name='feed_amount' value='20' >
						<input type='text' class='block' name='feed_handler' style='float: left;width: 25%;margin-top: 2px;' placeholder='trento'>
						<select name="feed-type" style="width:60%;">
							<!--option value="0" selected>Twitter</option>
							<option value="1" >Facebook</option-->
								<option value="2" >Instagram</option>
							</select>
						</div>
					</div>
					<div class='row'>
						<hr/>
					</div>
					<div class="row">
						<div class="span1">
							<input  class='block'  type='text' style='width: 40px;text-align: center;padding-right: 15px;' name='dataitems_per_task' value='5' ><span>Data dataitems / task</span>
						</div>
						<div class="span1">
							<input type='text' style='width: 40px;text-align: center;padding-right: 15px;'  name='min_answers_per_item' value='1' ><span>Min answers / dataitem</span>
						</div>
						<div class="span1">
							<input type='text' style='width: 40px;text-align: center;padding-right: 15px;'  name='min_gold_per_task' value='0' ><span>Min gold / task</span>
						</div>
						<div class="span1">
							<input type='text' style='width: 40px;text-align: center;padding-right: 15px;'  name='max_gold_per_task' value='3' ><span>Max gold / task</span>
						</div>
						<div class="span3">
							<input type='text' style='width: 40px;text-align: center;padding-right: 15px;'  name='min_score' value='0' ><br/><span>Min score (default = 0)<br/><small>when user goes below - he can not work on the job any more and is not paid for the last task</small></span>
						</div>
						<div class="span4 offset1">
							<input type='text' style='width: 300px;text-align: center;padding-right: 15px;' placeholder = "http://yourApp.com/callback/"  name='webhook_url' >
							<span>Webhook URL</span>
						</div>
					</div>

					<div class='row'>
						<hr/>
					</div>
					<div class='row'>
						<div class="span12">
							<p class='center'>
								<a class="btn btn-googleplus" href="mailto:team@crowdcafe.io" target="_blank"><i class="fa fa-envelope"></i> Ask us to design a task for you (free)!</a>
								<input type = 'submit' class='btn btn-googleplus-inversed' value='Save task'>
							</p>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	{% endblock%}

	{% block scripts%}
	<script>
	$(document).ready(function(){
		$('.dataset_options > .btn').click(function(){
			var block_name = $(this).attr('block-name');

			$('.dataset_options > *').removeClass('active');
			$(this).addClass('active');
			$('#dataset_option_selected').val(block_name);
			$('.block-'+block_name).addClass('active');

			return false;
		});

		$('[name=template-list]').change(function(){
			$('[name=userinterface_template]').val($(this).val());
		});
		$('.create-preselection').click(function(){
			if ($('.preselection_new_related_job').val()!=0){
				var preselection = "<p class='preselection'>"+
				"<input type='hidden' name='preselection_rule' value = '"+$('.preselection_new_rule_type').val()+"'>"+
				"<input type='hidden' name='preselection_job' value = '"+$('.preselection_new_related_job').val()+"'>"+
				"preselection ["+$('.preselection_new_rule_type').val() + "] for job ["+ $('.preselection_new_related_job').val()+"]"+
				"<input type = 'button' class='btn' value = 'remove' onclick = '$(this).parent().remove();'>"+
				"</p>";
				$('.preselection-block').append(preselection);
			}
		});
	});
</script>
{% endblock%}