{% extends 'kitchen/kitchen.html'%}
{%load static%}

{% block kitchen%}
<!-- content-8  -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>{{job.title}} </h1>
		</div>
	</div>
	<form method='POST' action='{% url 'kitchen-job-data-upload' job.id%}' enctype="multipart/form-data">
		{% csrf_token %}
		<div class="row">
			<div class="col-sm-12">
				<p class='lead center'>Upload data: <div class="btn-toolbar center">
					<div class="btn-group dataset_options">
						<a class="btn btn-primary" block-name = "survey" href="#"><i class="fa fa-circle-o"> Survey job</i></a>
						<a class="btn btn-primary" block-name = "dataset" href="#"><i class="fa fa-file-o"> dataset (.CSV)</i></a>
						<a class="btn btn-primary" block-name = "feed" href="#"><i class="fa fa-globe"> dataset (Social Network)</i></a>
					</div>
				</div></p>

			</div>
		</div>
		<input type = "hidden" id="dataset_option_selected" name="dataset_option_selected" value = "">
		<div class="row dataset_options">
			<div class="col-sm-12 block-survey center">
				<p>Only one dataitem will be created (questions are defined in a UI template). </p>
			</div>
			<div class="col-sm-12 block-dataset center">
				<label class="uploadbutton">
					<div class="btn" >Upload</div>
					<p><a href = '{% static "files/dataset_template.csv" %}' target='_blank'>dataset template</a></p>
					<input type="file" name='dataset' onchange="this.previousSibling.previousSibling.innerHTML = this.value"/>
				</label>
			</div>
			<div class="col-sm-12 block-feed center">
				<input  class='form-control'   type='text' name='feed_amount' value='20' placeholder = 'amount' >
				<input type='text' class='form-control' name='feed_handler' placeholder='trento'>
				<select name="feed-type" class="form-control" >

					<option value="2" >Instagram</option>
				</select>
			</div>
		</div>
		<div class='row'>
			<div class="col-sm-12">
				<p class='center'>
					<input type = 'submit' class='btn btn-googleplus-inversed' value='Save'>
				</p>
			</div>
		</div>
	</form>
	<div class='row'>
		<hr/>
	</div>
	<table class='table table-hover'>
		<tbody>
			{% for dataitem in dataitems%}
			<tr class='{% if dataitem.status = 'NR'%}inwork{%endif%} {% if dataitem.status = 'FN'%}positive{%endif%} {% if dataitem.gold%}gold{%endif%}'>
				<td>
					#{{dataitem.id}}
				</td>
				<td>
					{{dataitem.value}}<br>
					<table class='table table-hover'>
						{% for answeritem in dataitem.answeritems%}
						<tr class="{% if answeritem.score < 0 %}negative{%endif%} {% if answeritem.score > 0%}positive{%endif%}">
							<td>
								<small>#{{answeritem.id}}</small>
							</td>
							<td>
								<small>@{{answeritem.answer.executor.profile.short_name}}</small>
							</td>
							<td>
								<small>{{answeritem.score}}</small>
							</td>
							<td>
								<small>{{answeritem.value}}</small>
							</td>

						</tr>
						{% endfor%}
					</table>
				</td>
			</tr>
			{% endfor%}
		</tbody>
	</table>

</div>
{% include 'kitchen/job/discussion.html'%}
{% endblock%}
{% block js%}
<script>
$(document).ready(function(){
	$('form').submit(function(){
		var issue = false;

		if ($('.dataset_options .active').length == 0){
			issue = 'define your dataset';
		}

		if (issue){
			alert(issue);
			return false;
		}

	});
	$('.dataset_options > .btn').click(function(){
		var block_name = $(this).attr('block-name');

		$('.dataset_options > *').removeClass('active');
		$(this).addClass('active');
		$('#dataset_option_selected').val(block_name);
		$('.block-'+block_name).addClass('active');

		return false;
	});
});
</script>
{% endblock%}