{%load static%}
<!--  StartupFramework Demo  -->
<link rel="stylesheet" href="{% static 'startup-demo/Developer/flat-ui/bootstrap/css/bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'startup-demo/Developer/flat-ui/css/flat-ui.css'%}">

<link rel="stylesheet" href="{% static 'startup-demo/Developer/common-files/css/icon-font.css'%}">

<link rel="stylesheet" href="{% static 'startup-demo/Developer/samples/sample-04/css/style.css'%}">
<link rel="stylesheet" href="{% static 'startup-demo/Developer/samples/sample-03/css/style.css'%}">

<!--  FontAwesome  -->
<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css'%}">  

<!--link rel="stylesheet" href="{% static 'startup-demo/Developer/css/demo.css'%}"-->
<!--link rel="stylesheet" href="{% static 'libs/StartupFramework/css/style.css'%}"-->


<link rel="stylesheet" href="{% static 'landing/css/style_fixes.css'%}">

<!--  Brand Buttons -->
<link rel="stylesheet" href="{% static 'BrandButtons/dist/brand-buttons.min.css'%}">
<link rel="stylesheet" href="{% static 'BrandButtons/dist/brand-buttons-inversed.min.css'%}">
