{%load static%}
<link rel="shortcut icon" href="../Developer/flat-ui/images/favicon.ico">

<link rel="stylesheet" href="{% static 'Developer/flat-ui/bootstrap/css/bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'Developer/flat-ui/bootstrap/css/bootstrap-responsive.css'%}">
<link rel="stylesheet" href="{% static 'libs/fontawesome/css/font-awesome.min.css'%}">  

<link rel="stylesheet" href="{% static 'Developer/flat-ui/css/flat-ui.css'%}">
<link rel="stylesheet" href="{% static 'css/style_fixes.css'%}">
<link rel="stylesheet" href="{% static 'libs/brand-buttons.min.css'%}">
<link rel="stylesheet" href="{% static 'libs/brand-buttons-inversed.min.css'%}">
<!-- Using only with Flat-UI (free)-->
<link rel="stylesheet" href="{% static 'Developer/common-files/css/icon-font.css'%}">
<!-- end -->  

<link rel="stylesheet" href="{% static 'css/style.css'%}">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="{% static 'Developer/flat-ui/js/html5shiv.js' %}"></script>
        <![endif]-->