{%load static%}
<!--  StartupFramework Demo http://designmodo.com/startup/ -->
<link rel="stylesheet" href="{% static 'libs/StartupFramework/Developer/flat-ui/bootstrap/css/bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'libs/StartupFramework/Developer/flat-ui/bootstrap/css/bootstrap-responsive.css'%}">
<link rel="stylesheet" href="{% static 'libs/fontawesome/css/font-awesome.min.css'%}">  

<link rel="stylesheet" href="{% static 'libs/StartupFramework/Developer/flat-ui/css/flat-ui.css'%}">
<link rel="stylesheet" href="{% static 'libs/StartupFramework/css/style.css'%}">

<!-- Using only with Flat-UI (free)-->
<link rel="stylesheet" href="{% static 'libs/StartupFramework/Developer/common-files/css/icon-font.css'%}">
<!-- end -->  

<link rel="stylesheet" href="{% static 'landing/css/style_fixes.css'%}">

<!--  Brand Buttons -->
<link rel="stylesheet" href="{% static 'libs/brand-buttons/brand-buttons.min.css'%}">
<link rel="stylesheet" href="{% static 'libs/brand-buttons/brand-buttons-inversed.min.css'%}">
