<section class='container '>
	<div class='row pair-comparison'>
		<div class='element' style='background-image: url(http://distilleryimage5.s3.amazonaws.com/543edd6c9bc011e3a71f1242dcea3051_6.jpg);'>
			<p class='center'>image 1<p>
		</div>
		<div class='element' style='background-image: url(http://distilleryimage10.s3.amazonaws.com/548cc4e0813b11e3a97a1280cd5e4e2e_6.jpg);'>
			<p class='center'>image 2<p>
		</div>
	</div>
</section>
<div class='separation container'>
</div>


<section class='container'>
	<div class='row  pair-comparison'>
		<div class='element' style='background-image: url(http://distilleryimage5.s3.amazonaws.com/543edd6c9bc011e3a71f1242dcea3051_6.jpg);'>
			<p class='center'>image 1<p>
		</div>
		<div class='element' style='background-image: url(http://distilleryimage10.s3.amazonaws.com/548cc4e0813b11e3a97a1280cd5e4e2e_6.jpg);'>
			<p class='center'>image 2<p>
		</div>
	</div>
</section>
<div class='separation container'>
</div>
