{% extends 'cafe/ios7base.html'%}
{%load static%}

{% load customtags %}

{% block navigation%}
<style>
canvas, .raphael{
	cursor: crosshair;
	position: absolute;
	
	z-index:9999;
}
svg{
	border:1px solid red;
	z-index:99999;
	position:absolute;
}


</style>
<div class="navbar">
	<div class="navbar-inner">
		<div class="left">
			<a href="{% url 'cafe-job-list' %}?category={{task.job.category}}" class="back external link"><i class="icon icon-back-blue"></i><span>Back</span></a>
			<a href="{% url 'cafe-profile' %}?user={{task.job.owner.id}}" class="link "><i class="fa fa-male"></i>
			</a>
		</div>
		<div class="center sliding task-title">
			<a href="#" data-popup=".instructions" class="open-popup instructions-open">Instructions</a>
		</div>
		<div class="right">
			<a href="{% url 'cafe-job-assign' task.job.id %}" class="link external skip-instance"><i class="fa fa-random"></i>
			</a>
			<a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a>
		</div>
	</div>
</div>

{% endblock%}

{% block content%}
<div class="pages navbar-through toolbar-through">
	<!-- Page, data-page contains page name-->
	<div data-page="task" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<form method="POST" name='taskForm' action="{% url 'cafe-task-complete' task.id%}">
				{% csrf_token %}
				{% for item in task.items %}
				{% include_external task.job.id %}
				{% endfor %}
				{% include 'cafe/home/pages/snippets/contexts.html' %}
				<div class="content-block">
					<div class="row">

						<div class="col-100"><a href="#" class="button button-big button-submit">Complete</a></div>
					</div>
				</div>
				
			</form>
		</div>
	</div>
</div>
{% endblock%}

{% block extra%}
<div class="instructions popup">
	<div class="view navbar-fixed">
		<div class="page">
			<div class="navbar">
				<div class="navbar-inner">
					<div class="center popup-title" style="left: 583px;">{{task.job.title}}</div>
					<div class="right"><a href="#" class="link close-popup">Close</a></div>
				</div>
			</div>
			<div class="page-content">
				<div class="content-block-title">
					<h3>Task instructions:</h3>
				</div>
				<div class="content-block popup-content">
					{{task.job.description}}
				</div>

				<div class="content-block">
					<h3>Close this window to work on the task, or leave comments below.</h3>
				</div>

				<div class="content-block">
					<script>
					var disqus_title = '{{task.job.title}}';
					var disqus_identifier = '{{task.job.id}}'
					</script>
					{% include 'snippets/disqus.html'%}
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock%}