{% extends 'cafe/ios7base.html'%}
{%load static%}
{% block navigation%}
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="{% url 'cafe-home' %}" class="back link"><i class="icon icon-back-blue"></i><span>Back</span></a></div>
		<div class="center sliding">{{target_user.profile.fullname}}</div>
		<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a></div>
	</div>
</div>
{% endblock%}

{% block content%}
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through ">
	<!-- Page, data-page contains page name-->
	<div data-page="about" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="content-block"><h1 class='center'><img class='avatar' src='{{target_user.profile.avatar}}' /></h1></div>
			<div class="content-block">
				<p>Judgementes provided: <b>{{stats.completed}}</b></p>
				<p>Jobs posted: <b>{{stats.published}}</b></p>
			</div>
		</div>
	</div>
</div>

{% endblock%}