{% extends 'cafe/ios7base.html'%}
{%load static%}
{% block navigation%}
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="{% url 'cafe-home' %}" class="back link"><i class="icon icon-back-blue"></i><span>Back</span></a></div>
		<div class="center sliding">Available Rewards</div>
		<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a></div>
	</div>
</div>
{% endblock%}

{% block content%}
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
	<!-- Page, data-page contains page name-->
	<div data-page="rewards" class="page page-on-center">
		<div class="page-content">

			{% include 'cafe/home/pages/snippets/coupons.html'%}

			<div class='content-block-title'>Available rewards:</div>
			<div class="list-block media-list">
				<ul>
					{% for vendor in vendors%}
					{% for reward in vendor.rewards%}
					<li class="swipeout dataitem" >
						<div class="swipeout-content item-content">
							{% if reward.image_url%}
							<div class="item-media"><img src="{{reward.image_url}}" width="80"></div>
							{% endif%}
							<div class="item-inner reward">
								<div class="item-title-row">
									<div class="item-title">{{reward.title}}</div>
									<div class="item-after money">{{reward.cost}}&euro;</div>
								</div>
								<div class="item-subtitle">Available: {{reward.amount_available}}</div>
								<div class="item-text">{{reward.description}}</div>
								<div class="item-text"><img src="{% static 'libs/icons8/home-50.png'%}" width="20">&nbsp;<small>{{vendor.title}}</small></div>
								<div class="item-text"><img src="{% static 'libs/icons8/map_marker-50.png'%}" width="20">&nbsp;<small>{{vendor.address}}</small></div>
							</div></a>
						</div>
						<div class="swipeout-actions">
							<div class="swipeout-actions-inner">
								{% if reward.amount_available > 0 %}
								{% if user.profile.account.balance < reward.cost%}
								<a href="#" class="link neutral">You do not </br>have enough money</a>
								{% else %}
								<a href="{% url 'cafe-reward-purchase' reward.id%}" class="link external positive">Get coupon </br> for {{reward.cost}}&euro;</a>
								{% endif %}
								{% else %}
								<a href="#" class="link neutral">More coupons <br/> will be available soon</a>
								{% endif %}
							</div>
						</div>
					</li>
					{% endfor%}

					{%endfor%}
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock%}

