{% extends 'cafe/ios7base.html'%}
{%load static%}

{% load customtags %}

{% block navigation%}
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="{% url 'cafe-task-list'%}" class="link">List</a></div>
		<div class="center sliding task-title">{{taskinstance.task.title}}</div>
		<div class="right"><a href="{% url 'cafe-taskinstance-skip' taskinstance.id %}" class="link">Skip</a></div>
	</div>
</div>
{% endblock%}

{% block content%}
<div class="pages navbar-through toolbar-through">
	<!-- Page, data-page contains page name-->
	<div data-page="page1" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<form method="POST" name='taskForm' action="{% url 'cafe-taskinstance-complete' taskinstance.id%}">
				{% csrf_token %}
				<div class="content-block task-description">{{taskinstance.task.description}}</div>
				<div class="list-block media-list">
					<ul class='instance-list'>
						{% for item in taskinstance.dataitems%}
						{% include_external taskinstance.task.id %}
						{%endfor%}
					</ul>
				</div>
				<div class="content-block">
					<div class="row">
						<div class="col-100"><a href="#" class="button button-big button-submit">Complete</a></div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock%}

{% block scripts%}
<script>
$$('.open-popup').tap(function(){
	var button = $$(this);
	if (button.attr('iframe')){
		var content = '<iframe src="'+button.attr('iframe')+'" height="'+$$(window).height()+'"></iframe>'
		$$(button.attr('data-popup')+' .content-block').html(content);
	}
});

$$('.button-submit').tap(function(){
	document.taskForm.submit();
});
</script>
{% endblock%}