{% extends 'cafe/ios7base.html'%}
{%load static%}
{% block navigation%}
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="#" class="back link">Back</a></div>
		<div class="center sliding task-title">{{taskinstance.task.title}}</div>
		<div class="right"><a href="index.html" class="link">Complete</a></div>
	</div>
</div>
{% endblock%}

{% block content%}
<div class="pages">
	<!-- Page, data-page contains page name-->
	<div data-page="page1" class="page">
		<!-- Scrollable page content-->
		<div class="page-content">
			<div class="content-block-title task-description">{{taskinstance.task.description}}</div>
			<div class="list-block media-list">
				<ul class='instance-list'>
					{% for item in taskinstance.dataitems%}
					<li class="swipeout" instance-id="{{item.id}}">
						<div class="swipeout-content" style="-webkit-transform: translate3d(0px, 0px, 0px);">
							<a href="#" class="item-link item-content">
								<div class="item-inner">
									<div class="item-title-row">
										<div class="item-title">{{item.value.user.screen_name}}</div>
										<div class="item-after">{{item.additional}}</div>
									</div>
									<!--div class="item-subtitle">{{item.value.source}}</div-->
									<div class="item-text">{{item.value.text}}</div>
								</div>
							</a>
						</div>
						<div class="swipeout-actions">
							<div class="swipeout-actions-inner">
								<a href="#" class="demo-actions dontknow swipeout-delete" answer="dontknow">?</a>
								<a href="#" class="demo-actions positive swipeout-delete" answer="positive">+</a>
								<a href="#" class="demo-actions neutral swipeout-delete" answer="neutral">~</a>
								<a href="#" class="demo-actions negative swipeout-delete" answer="negative">-</a>
							</div>
						</div>
					</li>

					{%endfor%}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock%}