{% extends 'cafe/ios7base.html'%}
{%load static%}
{% block navigation%}
<!-- Top Navbar-->
<div class="navbar">
	<div class="navbar-inner">
		<div class="left"><a href="{% url 'cafe-home' %}" class="back link"><i class="icon icon-back-blue"></i><span>Back</span></a></div>
		<div class="center sliding">Transactions</div>
		<div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a></div>
	</div>
</div>
{% endblock%}

{% block content%}
<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
	<!-- Page, data-page contains page name-->
	<div data-page="transactions" class="page">
		<!-- Scrollable page content-->

		<div class="page-content">
			<div class="content-block-title">Total earned: <b>{{user.profile.account.total_earning}}&euro;</b></div>
			<div class="content-block-title">Total spent:  <b>{{user.profile.account.total_spending}}&euro;</b></div>
			<div class="list-block">
				<ul>
					{% for transaction in user.profile.account.transactions%}
					<li class=" transaction {% if transaction.to_account = user.profile.account%} positive {% else%} negative {% endif %}">
						<div class="item-content">
							<div class="item-media">{{transaction.type}}</i></div>
							<div class="item-inner">
								<div class="item-title">{{transaction.description}}<br/><small class='muted'>{{transaction.date_created|timesince}} ago</small></div>
								<div class="item-after"><span class="badge gold white">{{transaction.amount}}&euro;</span></div>
							</div>
						</div>
					</li>
					{% endfor%}
				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock%}