  <!-- price-1 -->        
  <section class="price-1 v-center welcome-block-categories">
    <div class="container ">
        <h3>Only 3 simple task categories</h3>
        <p class="lead">The wage on CrowdCafe is <b>10&euro;</b>/hour</p>
        <div class="row plans ">
            <div class="span4 plan ">
                <div class="title ">Caffè</div>
                <div class="price ">fixed reward <b>0.03&euro;</b>,<br><b>less than 10 sec</b> execution time</div>
                <div class="description ">
                    <b>Required actions:</b><br>
                    clicking only<br>
                    no typing<br>
                    no learning
                </div>
                <div class="description ">
                   <b>Examples:</b><br>
                   pair comparison<br>
                   tag an object on an image<br>
                   tweets sentiment<br>
                   other simple tasks...
               </div>
               <div class="ribbon ">Most popular</div>
           </div>
           <div class="span4 plan ">
            <div class="title ">Cappuccino</div>
            <div class="price ">fixed reward <b>0.35&euro;</b>,<br><b>less than 2 min</b> execution time</div>
            <div class="description ">
                <b>Required actions:</b><br>
                clicking<br>
                some typing<br>
                some learning
            </div>
            <div class="description ">
                <b>Examples:</b><br>
                make a photo of an object<br>
                short survey<br>
                receipt transcription<br>
                other medium-size tasks...
            </div>

        </div>
        <div class="span4 plan ">
            <div class="title ">Wine</div>
            <div class="price ">fixed reward <b>1&euro;</b>,<br><b>more than 2 min</b> execution time</div>
            <div class="description ">
                <b>Required actions:</b><br>
                any actions
                <br> <br>
                <br>
            </div>
            <div class="description ">
                <b>Examples:</b><br>
                interview record<br>
                video capturing<br>
                complex information search<br>
                other non trivial tasks...
            </div>
            
        </div>
    </div>
</div>
<!--/.container-->
</section>