{%load static%}
<!-- content-7  -->
<section class="content-7 v-center">

    <div>
        <div class="container">
            <h3>Now you can perform fun tasks and earn money on the go!</h3>
            <div class="row v-center">
                <div class="span4">   
                    <div class="screen-wrapper center" style="height:550px;">
                        <img src="{% static 'img/ui/sentiment_analysis_small.jpg'%}" style="height:100%;">
                    </div>
                </div>
                <div class="span4">   
                    <div class="screen-wrapper center" style="height:550px;">
                        <img src="{% static 'img/ui/image_filtering_small.jpg'%}" style="height:100%;">
                    </div>
                </div>
                <div class="span3">                            
                    <div class="span3">
                        <h6>in a train</h6>
                        A train takes 78 minutes to get from <a href='http://bit.ly/1kC5Wvc' target='_blank'>Trento to Verona</a>. It costs 7.50&euro;. On CrowdCafe you can earn up to 10&euro; in 60 minutes and spend the rest 2.50&euro; on macchiato and brioche on Piazza Bra.
                        <h6>waiting an apointment</h6>
                        Now you can successfuly invest every 10 minutes you have untill your meeting or an appointment.
                        <h6>on a countryside</h6>
                        Work everywhere you want: on a countrysite, on a seashore, on an ocean beach or on the International Space Station - everywhere you have your 3G/WiFi/LTE.
                        <h6>everywhere...</h6>
                        <a href="mailto:pavel@kucherbaev.com" target='_blank'>Tell us</a> where you have fun and earn money with CrowdCafe!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>