{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'libs/devices/style-adopted.css'%}">
<!-- content-7  -->
<section class="content-7 v-center welcome-block-contexts">
	<div>
		<div class="container">
			<h3>Now you can perform fun tasks and earn rewards on the go!</h3>
			<div class="row v-center">
				<div class="span4 offset4">   
					<div id="iphone5s" class="device-container silver ">
						<div class="device">
							<div class="inner"></div>
							<div class="camera"></div>
							<div class="sleep"></div>
							<div class="sensor"></div>
							<div class="volume"></div>
							<div class="speaker"></div>
							<iframe src="{% url 'cafe-home'%}" class='screen'></iframe>
							<div class="home"></div>
						</div>
					</div>
				</div>
				<div class="span4">                            
					<h6>in a train</h6>
					A train takes 78 minutes to get from <a href='http://bit.ly/1kC5Wvc' target='_blank'>Trento to Verona</a>. It costs 7.50&euro;. On CrowdCafe you can earn up to 10&euro; in 60 minutes and spend the rest 2.50&euro; on macchiato and brioche on Piazza Bra.
					<h6>waiting an apointment</h6>
					Now you can successfuly invest every 10 minutes you have untill your meeting or an appointment.
					<h6>on a countryside</h6>
					Work everywhere you want: on a countrysite, on a seashore, on an ocean beach or on the International Space Station - everywhere you have your 3G/WiFi/LTE.
					<h6>everywhere...</h6>
					<a href="mailto:team@crowdcafe.io" target='_blank'>Tell us</a> where you have fun and earn money with CrowdCafe!
					<h6>
						<a class="btn btn-large btn-googleplus" href="{% url 'cafe-home'%}" target="_blank">Try on your smartphone</a>
					</h6>
					Open <a href="{% url 'cafe-home'%}" >http://crowdcafe.io</a> in a web-browser of your smartphone.
				</div>
			</div>
		</div>
	</div>
</section>

