{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'minimal-devices/css/iphone.css'%}">
<style>
.md-iphone-5 { font-size: 1.075em; }
iframe.screen{ height:100%;}
</style>
<!-- content-7  -->
<section class="content-7 v-center welcome-block-contexts">
	<div>
		<div class="container">
			<h3>Now you can perform fun tasks and earn rewards on the go!</h3>
			<div class="row ">
				<div class="col-sm-5 col-sm-offset-1">

					<div class="md-iphone-5 md-black-device">
						<div class="md-body">
							<div class="md-buttons"></div>
							<div class="md-front-camera"></div>
							<div class="md-top-speaker"></div>

							<div class="md-screen">
								
							</div>

							<button class="md-home-button"></button>
						</div>
					</div>
			</div>
			<div class="col-sm-4 col-sm-offset-1">   

				<h6>in a train</h6>
				<p>A train takes 78 minutes to get from <a href='http://bit.ly/1kC5Wvc' target='_blank'>Trento to Verona</a>. It costs 7.50&euro;. On CrowdCafe you can earn up to 10&euro; in 60 minutes and spend the rest 2.50&euro; on macchiato and brioche on Piazza Bra.
				</p>
				<h6>waiting an apointment</h6>
				<p>
				Now you can successfuly invest every 10 minutes you have untill your meeting or an appointment.</p>
				<h6>on a countryside</h6>
				<p>
				Work everywhere you want: on a countrysite, on a seashore, on an ocean beach or on the International Space Station - everywhere you have your 3G/WiFi/LTE.</p>
				<h6>
					<a class="btn btn-large btn-googleplus" href="#" target="_blank">Try on your smartphone</a>
				</h6>
				Open <a href="/cafe/">http://crowdcafe.io</a> in a web-browser of your smartphone.
			</div>
		</div>
	</div>
</div>
</section>

