{%load static%}
<section class="content-8 v-center welcome-block-opensource">
	<div>               
		<div class="container">
			<img width="300" height="300" alt="" src="{% static 'landing/img/octocat.png'%}"/>                   
			<h3>Open source</h3>
			<div class="row">
				<div class="span6 offset3">
					<p>The CrowdCafe code is freely available on <b>Github</b>. Anybody can fork it to make an improvement and to help CrowdCafe to be the best mobile crowdsoucing platform. 
					</p>                            
					<a class="btn btn-googleplus" href="https://github.com/SocialInformatics/crowdcafe" target="_blank">Fork me on GitHub</a>
				</div>
			</div>
		</div>
	</div>
</section>