{%load static%}
<!-- content-8  -->
<section class="content-8 v-center welcome-block-philosophy">
	<div>
		<div class="container">
			<h3>CrowdCafe philosophy</h3>
			<div class="row">
				<div class="span3">
					<p class='lead'>Tasks execution</p>
					<div class='image-container'>
						<img src='{% static 'Developer/common-files/icons/iPhone_2x.png' %}'>
					</div>
					<p>We beleive micro-tasks should be executed via <b>mobile phones</b> to give to workers the maximum level of freedom and fun.
					</p>
				</div>
				<div class="span3">
					<p class='lead'>Tasks creation</p>
					<div class='image-container'>
						<img src='{% static 'Developer/common-files/icons/Spaceship_2x.png' %}'>  
					</div>
					<p>All the tasks are created using the cutting edge <b>scientific approaches</b>, including workflows, map reduce, automatic tasks.
					</p>
				</div>
				<div class="span3">
					<p class='lead'>Time constraints</p>
					<div class='image-container'>
						<img src='{% static 'Developer/common-files/icons/Watches_2x.png' %}'>  
					</div>
					<p>We beleive that workers should spend <b>minimum time</b> on selecting and understanding tasks. For this we came up with 3 simple task categories.
					</p>
				</div>

				<div class="span3">
					<p class='lead'>Simplicity</p>
					<div class='image-container'>
						<img src='{% static 'Developer/common-files/icons/Yin-and-Yang_2x.png' %}'>  
					</div>
					<p>If something can be removed - it is removed.
					</p>
				</div>
			</div>
		</div>
	</div>

</section>