<section class="header-10-sub v-center bg-midnight-blue welcome-block-primo">
    <div class="background">&nbsp;</div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1 class='title'>CrowdCafe</h1>
                <p class='subtitle'>
                    Mobile crowdsourcing platform<br>for easy and fun tasks execution.
                </p>
                <p class='login-buttons'>
                    <a href="{% url 'socialauth_begin' 'facebook' %}?next=/cafe/" class="btn btn-facebook-inversed btn-lg"><i class="fa fa-facebook"></i> Connect with Facebook </a>
                    <a href="{% url 'socialauth_begin' 'google-oauth2' %}?next=/cafe/" class="btn btn-googleplus-inversed btn-lg"><i class="fa fa-google-plus"></i> Connect with Google+ </a>
                    <a href="{% url 'socialauth_begin' 'github' %}?next=/cafe/" class="btn btn-github-inversed btn-lg"><i class="fa fa-github"></i> Connect with Github </a>
                </p>
                <br/>
            </div>
        </div>
    </div>
    <!--a class="control-btn fui-arrow-down" href="#"> </a-->
</section>      