<section class="header-10-sub v-center bg-midnight-blue welcome-block-primo">
    <div class="background">&nbsp;</div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1 class='title'>CrowdCafe</h1>
                <p class='subtitle'>
                    Mobile crowdsourcing platform<br>for easy and fun tasks execution.
                </p>
            </div>
        </div>
    </div>
    <!--a class="control-btn fui-arrow-down" href="#"> </a-->
</section>      