<section class="header-10-sub v-center bg-midnight-blue">
    <div class="background">&nbsp;</div>
    <div>
        <div class="container">
            <div class="hero-unit">
                <h1>Crowdsourcing Cafe</h1>
                <p>
                    Mobile crowdsourcing platform<br>for easy and fun tasks execution.
                </p>
                <p>
                    <a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-facebook btn-lg btn-facebook-inversed"><i class="fa fa-facebook"></i> Connect with Facebook </a>
                    <a href="{% url 'socialauth_begin' 'google' %}" class="btn btn-googleplus btn-lg btn-googleplus-inversed"><i class="fa fa-google-plus"></i> Connect with Google+ </a>
                </p>
            </div>
        </div>
    </div>
    <a class="control-btn fui-arrow-down" href="#"> </a>
</section>      