{%load static%}
<section class="content-8 v-center welcome-block-rewards">
	<div>               
		<div class="container">
			<img width="380" height="187" alt="" src="{% static 'img/ticket_coffee.png'%}"/>                   
			<h3>Rewards</h3>
			<div class="row">
				<div class="span6 offset3">
					<p>Convert your earning on CrowdCafe into: bus tickets from <b>Trentino Transpoti</b>, coffee tickets from the <b>University of Trento</b> bars, <b>Bitcoins</b>, <b>Amazon</b> giftcards and many other cool things.
					</p>                            
					<!--a class="btn btn-large btn-clear" href="#">TRY IT NOW</a-->
				</div>
			</div>
		</div>
	</div>
</section>