<!-- content-13 -->
<section class="content-13 subscribe-form bg-turquoise">
    <div class="container">
        <div class="row">
            <form>
                <div class="span8">
                    <input type="text" placeholder="Enter your e-mail" spellcheck="false">
                </div>
                <div class="span4">
                    <button class="btn btn-large btn-primary" type="submit">
                        Try our beta 
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>