{% extends 'base.html'%}
{%load static%}

{% block content%}

{% include 'landing/blocks/primo.html'%}
{% include 'landing/blocks/philosophy.html'%}
{% include 'landing/blocks/categories.html'%}
{% include 'landing/blocks/mobile.html'%}
{% include 'landing/blocks/rewards.html'%}
{% include 'landing/blocks/opensource.html'%}
{% include 'landing/blocks/presentations.html'%}
{% include 'landing/blocks/madeintrento.html'%}
{% include 'landing/blocks/socialfeed.html'%}
{% include 'snippets/footer.html'%}
{% endblock%}

{% block js%}
<script src="{% static 'landing/js/welcome.js'%}"></script>
{% endblock%}