.muted{
	opacity:0.5;
}
.coupon {
	background-color: #FF5B37 !important;
	color: #FFF;
}
.coupon a{
	color:white;
}
.white{
	color:white;
}
.transaction{
	color:white;
}
/* Welcome page */
.page[data-page=welcome]{
	background: #d6cec3; /* Old browsers */
	background: -moz-linear-gradient(top,  #d6cec3 0%, #e0a276 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6cec3), color-stop(100%,#e0a276)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d6cec3 0%,#e0a276 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d6cec3 0%,#e0a276 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d6cec3 0%,#e0a276 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d6cec3 0%,#e0a276 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6cec3', endColorstr='#e0a276',GradientType=0 ); /* IE6-9 */
}
.page[data-page=welcome] .page-content{
	padding-top:0px;
}
.page[data-page=welcome] .content-block,.page[data-page=welcome] .list-block{
	margin-top:10px;
	margin-bottom:10px;
}
.page[data-page=welcome] h1, .page[data-page=welcome] h3, .page[data-page=welcome] p {
	color:white;
	font-weight: 200;
}
.page[data-page=welcome] .list-button{
	border-bottom:none;
	color:white;
}
.page[data-page=welcome] .list-button:hover{
	color:inherit;
}

/* end Welcome page */
.positive, .list-block .swipeout-actions-inner a.positive{
	background: #4CD964;
}
.negative, .list-block .swipeout-actions-inner a.negative{
	background: #FF3B30;
}
.neutral, .list-block .swipeout-actions-inner a.neutral{
	background: #D6CEC3;
}
.gold, .list-block .swipeout-actions-inner a.gold{
	background: #FFCC00;
}
.dontknow, .list-block .swipeout-actions-inner a.dontknow{
	background: #898C90;
}
.list-block .item-text{
	height:auto;
	-webkit-line-clamp: 10;
}
.avatar{
	border-radius: 50%;
}
.media-picture img {
	width: 100%;
	display: block;
}
iframe{
	width: 100%;
	margin: 0px;
	display: inline-block;
	border: none;
}
.iframe .content-block{
	margin: 0px;
	padding: 0px;
}
.list-block .list-group-title{
	white-space:inherit;
}
.content-block-title{
	white-space:inherit;
}
.list-block .item-title {
	white-space:inherit;
}
.hidden{
	display:none;
}
.center{
	text-align: center;
}

.tile{
	text-align:center;
	display: inline-block;
	width: 33%;
	position: relative;
	float: left;
	margin: 5px 0px;
	border-left: 1px solid #EEE;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 0px;
}
.tile > img{
	max-width: 100%;
}


div.item-after.money {
	color: #FFCC00;
}
div.item-after.amount {
	color: #4CD964;
}
/* flatization */

.navbar{
	border-bottom:none;
}


.page{
	background-color: white;
}
.list-block .item-inner{
}
/* end flatization */

.panel {
	background-color: #363636;
}
.panel h1,.panel h3{
	color:#ccc;
	font-weight: 200;
}


.panel {
	background: #222;
	color: #dddddd;
}
.panel-left .content-block,
.panel-left .content-block-title {
	color: #dddddd;
}
.panel-left .list-block ul {
	background: none;
}
.panel-left .list-block ul,
.panel-left .list-block .item-inner {
	border-color: rgba(255, 255, 255, 0.1);
}
.panel-left .list-block a:not(.button) {
	color: inherit;
}
.panel-left .list-block a:active {
	background: #000;
}


/* task */
.hide-if-empty{
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
}