.list-block .swipeout-actions-inner a.positive{
	background: #4CD964;
}
.list-block .swipeout-actions-inner a.negative{
	background: #FF3B30;
}
.list-block .swipeout-actions-inner a.neutral{
	background: #D6CEC3;
}
.list-block .swipeout-actions-inner a.dontknow{
	background: #898C90;
}
.list-block .item-text{
	height:auto;
	-webkit-line-clamp: 10;
}
.avatar{
	border-radius: 50%;
}
.media-picture img {
	width: 100%;
	display: block;
}
iframe{
	width: 100%;
	margin: 0px;
	display: inline-block;
	border: none;
}
.iframe .content-block{
	margin: 0px;
	padding: 0px;
}
.content-block-title{
	white-space:inherit;
}
.list-block .item-title {
	white-space:inherit;
}
.hidden{
	display:none;
}
.center{
	text-align: center;
}

.tile{
	text-align:center;
	display: inline-block;
	width: 33%;
	position: relative;
	float: left;
	margin: 5px 0px;
	border-left: 1px solid #EEE;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 0px;
}
.tile > img{
	max-width: 100%;
}

/* flatization */

.navbar{
	border-bottom:none;
}
*{
	font-weight: 200 !important;
}


.page{
	background-color: white;
}
.list-block .item-inner{
	border-bottom:none;
}
/* end flatization */

.panel {
	background: #ddd;
}