body, html{
	height:auto !important;
}
body{
	background: #b1815f; /* Old browsers */
	background: -moz-linear-gradient(top,  #b1815f 0%, #2c161a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1815f), color-stop(100%,#2c161a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b1815f 0%,#2c161a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b1815f 0%,#2c161a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b1815f 0%,#2c161a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b1815f 0%,#2c161a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1815f', endColorstr='#2c161a',GradientType=0 ); /* IE6-9 */

}

.hero-unit p{
	color:white !important;
	font-weight: 100  !important;
}
.hero-unit h4{
	color:white !important;
	font-weight: 200  !important;
}
.header-10-sub > div > .container{
	padding-top:20px !important;
	padding-bottom:20px !important;
}