{% extends 'cafe/cafe.html'%}
{%load static%}

{% block content%}
<section class="header-10-sub v-center bg-midnight-blue cafe-auth">
	<div class="">&nbsp;</div>
	<div>
		<div class="container">
			<div class="hero-unit">
				<h1>CrowdCafe</h1>
				<p>
					Mobile crowdsourcing platform<br>for easy and fun tasks execution.
				</p>
				<br/><br/>
				<p>
					Please login via:
				</p>
				<br/><br/>
				<p>
					<a href="{% url 'socialauth_begin' 'facebook' %}?next={% url 'cafe-auth' %}" class="btn btn-facebook-inversed btn-lg"><i class="fa fa-facebook"></i> Connect with Facebook </a>
					<a href="{% url 'socialauth_begin' 'google-oauth2' %}?next={% url 'cafe-auth' %}" class="btn btn-googleplus-inversed btn-lg"><i class="fa fa-google-plus"></i> Connect with Google+ </a>
					<a href="{% url 'socialauth_begin' 'twitter' %}?next={% url 'cafe-auth' %}" class="btn btn-twitter-inversed btn-lg"><i class="fa fa-twitter"></i> Connect with Twitter </a>
					<a href="{% url 'socialauth_begin' 'github' %}?next={% url 'cafe-auth' %}" class="btn btn-github-inversed btn-lg"><i class="fa fa-github"></i> Connect with Github </a>
				</p>
			</div>
		</div>
	</div>
</section>
{% if user.is_authenticated %}
<script>
window.opener.location.href="http://localhost/Code/web/CrowdCafe-cafe/";
self.close();
</script>
{%endif%}

{% endblock%}

