{% extends 'cafe/ios7base.html'%}
{% load static%}
{% block navigation%}
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <!--div class="left"><a href="{% url 'cafe-about'%}" class="link">About</a></div-->
    <div class="center sliding">CrowdCafe</div>
    <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars-blue"></i></a></div>

  </div>
</div>
{% endblock%}

{% block content%}


<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
  <!-- Page, data-page contains page name-->
  <div data-page="index" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
     <div class="content-block-title">You can perform tasks from categories:</div>
     <div class="list-block media-list">
      <ul>
        <li><a href="{% url 'cafe-task-list'%}" class="item-link item-content tasks-caffe">
          <div class="item-media"><img src="{% static 'landing/img/logo100_black.png' %}" width="40"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Caffè</div>
              <div class="item-after money">0.03&euro;</div>
            </div>
            <div class="item-subtitle">about 10 sec</div>
            <div class="item-text">Mostly clicking and swiping. No learning.</div>
          </div></a>
        </li>
        <li><a href="#" class="item-link item-content tasks-cappuccino">
          <div class="item-media"><img src="{% static 'libs/icons8/coffee-50.png' %}" width="40"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Cappuccino <i>(coming soon)</i></div>
              <div class="item-after money">0.35&euro;</div>
            </div>
            <div class="item-subtitle">less than 2 min</div>
            <div class="item-text">Some typing, some learning.</div>
          </div></a>
        </li>
        <li><a href="#" class="item-link item-content tasks-wine">
          <div class="item-media"><img src="{% static 'libs/icons8/wine_bottle-50.png' %}" width="40"></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Wine <i>(coming soon)</i></div>
              <div class="item-after money">1&euro;</div>
            </div>
            <div class="item-subtitle">more than 2 min</div>
            <div class="item-text">Custom tasks.</div>
          </div></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock%}
