{% extends 'cafe/ios7base.html'%}
{%load static%}
{% block navigation%}
<!-- Top Navbar-->
<div class="navbar">
  <div class="navbar-inner">
    <div class="left"><a href="pages/reward.html" class="link">Reward</a></div>
    <div class="center sliding">CrowdCafe</div>
    <div class="right"><a href="pages/login.html" class="link">Login</a></div>
  </div>
</div>
{% endblock%}

{% block content%}


<!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
<div class="pages navbar-through toolbar-through">
  <!-- Page, data-page contains page name-->
  <div data-page="index" class="page">
    <!-- Scrollable page content-->
    <div class="page-content">
      <div class="content-block-title">You can perform tasks</div>
      <div class="list-block media-list">
        <ul>
          <li><a href="{% url 'cafe-task-list'%}" class="item-link item-content">
            <div class="item-media"><img src="{% static 'cafe/img/icons/caffe.jpg' %}" width="80"></div>
            <div class="item-inner">
              <div class="item-title-row">
                <div class="item-title">Caffè</div>
                <div class="item-after">0.03&euro;</div>
              </div>
              <div class="item-subtitle">less than 10 sec</div>
              <div class="item-text">No typing, only clicking and swiping. No learning.</div>
            </div></a></li>
            <li><a href="#" class="item-link item-content">
              <div class="item-media"><img src="{% static 'cafe/img/icons/cappuccino.png' %}" width="80"></div>
              <div class="item-inner">
                <div class="item-title-row">
                  <div class="item-title">Cappuccino</div>
                  <div class="item-after">0.35&euro;</div>
                </div>
                <div class="item-subtitle">less than 2 min</div>
                <div class="item-text">Some typing, some learning.</div>
              </div></a></li>
              <li><a href="#" class="item-link item-content">
                <div class="item-media"><img src="{% static 'cafe/img/icons/wine.png' %}" width="80"></div>
                <div class="item-inner">
                  <div class="item-title-row">
                    <div class="item-title">Wine</div>
                    <div class="item-after">1&euro;</div>
                  </div>
                  <div class="item-subtitle">more than 2 min</div>
                  <div class="item-text">Custom tasks.</div>
                </div></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      {% endblock%}