<!DOCTYPE html>
<html>
<head>
	{% include 'cafe/home/meta.html'%}
	{% include 'cafe/home/styles.html'%}
</head>
<body>
	<!-- Panels overlay-->
	<div class="panel-overlay"></div>
	<!-- Left panel with reveal effect-->
	<div class="panel panel-left panel-reveal">
		{% include 'cafe/home/panel.html'%}
	</div>
	<!-- Views-->
	<div class="views">

		<!-- Your main view, should have "view-main" class-->
		<div class="view view-main">
			{% block navigation%}

			{% endblock%}
			
			{% block content%}

			{% endblock%}
		</div>
	</div>
	<div class="coupon-popup popup">
		<div class="view navbar-fixed">
			<div class="page">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="center popup-title" style="left: 583px;"></div>
						<div class="right"><a href="#" class="link close-popup">Close</a></div>
					</div>
				</div>
				<div class="page-content">
					<div class="content-block popup-content">
					</div>
				</div>
			</div>
		</div>
	</div>
	{% block extra%}

	{% endblock%}

	{% include 'cafe/home/scripts.html'%}
	{% block scripts%}

	{% endblock%}
	{% include 'snippets/analytics.html'%}

</body>
</html>