<!-- footer-3 -->
<footer class="footer-3">
	<div class="container">
		<div class="row v-center">
			<div class="span2">                        
				<div class="span2">
					<a class="brand" href="#">CrowdCafe</a>
				</div>
			</div>
			<div class="span7">                        
				<div class="span7">
				</div>
			</div>
			<div class="span3">                        
				<div class="span3">
					<h6>Trento, Italy</h6>
					Via Sommarive, 5<br>Povo, TN, 38123
				</div>
			</div>
		</div>
	</div>
</footer>