{%load static%}
<!-- header-10 -->
<header class="header-10">
	<div class="container">
		<div class="navbar span12">
			<div class="navbar-inner">
				<button type="button" class="btn btn-navbar"> </button>
				<a class="brand" href="{% url 'welcome' %}"><img src="{% static 'img/logo100.png'%}" class='logo'></a>
				<div class="nav-collapse collapse pull-right">
					<ul class="nav">
						{% if user.is_authenticated %}
						<!--li><a href="{% url 'api-tasks-list' %}">API</a></li-->

						<li><a href="{% url 'kitchen-home'%}">My Tasks</a></li>
						<li><a href="{% url 'kitchen-home'%}">{{user.profile.short_name}}</a></li>
						<li><a class='muted' href="{% url 'logout'%}">Logout <i class="fa fa-arrow-circle-o-right"></i></a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>