.btn{
	border:2px solid;
}
.btn-toolbar .btn-group .btn{
	border:none;
}
label.uploadbutton input {
	display: none;   
}
iframe{
	border: 1px solid #EEE;
}
.logo{
	width:50px;
}
label.radio{
	text-align: left;
}
.row.dataset_options > div{
	display:none;
}
.row.dataset_options > div.active{
	display:block;
}