<section class="header-10-sub welcome-block-primo">
	<div>
		<div class="container">
			<div class="hero-unit">
				<h4>CrowdCafe</h4>
				<p>
					You perform simple tasks and earn rewards, such as coffee and deserts in stores around you.
				</p>
				<p>
					<a href="{% url 'socialauth_begin' 'facebook' %}?next=/cafe/" class="btn btn-block btn-facebook-inversed btn-lg"><i class="fa fa-facebook"></i> Connect with Facebook </a>
					<a href="{% url 'socialauth_begin' 'google-oauth2' %}?next=/cafe/" class="btn btn-block btn-googleplus-inversed btn-lg"><i class="fa fa-google-plus"></i> Connect with Google+ </a>
					<a href="{% url 'socialauth_begin' 'twitter' %}?next=/cafe/" class="btn btn-block btn-twitter-inversed btn-lg"><i class="fa fa-twitter"></i> Connect with Twitter </a>
					<a href="{% url 'socialauth_begin' 'github' %}?next=/cafe/" class="btn btn-block btn-github-inversed btn-lg"><i class="fa fa-github"></i> Connect with Github </a>
				</p>
				<small>I promise not to publish anything on your timeline or do any other not ethical things with your account data.</small>
			</div>
		</div>
	</div>
</section>