<section class="header-10-sub v-center bg-midnight-blue welcome-block-primo">
	<div class="background">&nbsp;</div>
	<div>
		<div class="container">
			<div class="hero-unit">
				<h1>CrowdCafe</h1>
				<p>
					You perform simple tasks and earn rewards, such as coffee and deserts in stores around you.
				</p>

				<p>
					<a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-block btn-facebook-inversed btn-lg"><i class="fa fa-facebook"></i> Connect with Facebook </a>
					<a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="btn btn-block btn-googleplus-inversed btn-lg"><i class="fa fa-google-plus"></i> Connect with Google+ </a>
					<a href="{% url 'socialauth_begin' 'twitter' %}" class="btn btn-block btn-twitter-inversed btn-lg"><i class="fa fa-twitter"></i> Connect with Twitter </a>
					<a href="{% url 'socialauth_begin' 'github' %}" class="btn btn-block btn-github-inversed btn-lg"><i class="fa fa-github"></i> Connect with Github </a>
				</p>
			</div>
		</div>
	</div>
</section>      