{% load static%}
<div class="content-block-title center"><h3>{{user.profile.full_name}}</h3></div>
<div class="content-block ">
	<h1 class='center'>{{user.profile.account.balance}}&euro;</h1>
</div>
<div class="list-block">
	<ul>
		<li><a href="{% url 'cafe-home'%}" class="close-panel item-link">
			<div class="item-content">
				<div class="item-media"><img src="{% static 'libs/icons8/home_white.png' %}" width="20"></div>
				<div class="item-inner">
					<div class="item-title">Home</div>
				</div>
			</div></a>
		</li>
		<li><a href="{% url 'cafe-about'%}" class="close-panel item-link">
			<div class="item-content">
				<div class="item-media"><img src="{% static 'libs/icons8/about_white.png' %}" width="20"></div>
				<div class="item-inner">
					<div class="item-title">About</div>
				</div>
			</div></a>
		</li>
		<li><a href="{% url 'cafe-profile'%}?user={{user.id}}" class="close-panel item-link">
			<div class="item-content">
				<div class="item-media"><img src="{% static 'libs/icons8/user_white.png' %}" width="20"></div>
				<div class="item-inner">
					<div class="item-title">Account</div>
				</div>
			</div></a>
		</li>
		<li><a href="{% url 'cafe-rewards'%}" class="close-panel item-link">
			<div class="item-content">
				<div class="item-media"><img src="{% static 'libs/icons8/gift_white.png' %}" width="20"></div>
				<div class="item-inner">
					<div class="item-title">Rewards</div>
				</div>
			</div></a>
		</li>
		<!--li><a href="{% url 'cafe-transactions'%}" class="close-panel item-link">
			<div class="item-content">
				<div class="item-media"><img src="{% static 'libs/icons8/banknotes-white.png' %}" width="20"></div>
				<div class="item-inner">
					<div class="item-title">Transactions</div>
				</div>
			</div></a>
		</li-->
	</ul>
	<div class="content-block">
		<p><a href="{% url 'logout' %}" class="button external logout ">Logout</a></p>
	</div>
</div>