{%load static%}

<!-- Framework7 Library js-->
<script type="text/javascript" src="{% static 'framework7/dist/js/framework7.min.js' %}"></script>

<!-- SVG js-->
<script type="text/javascript" src="{% static 'raphael/raphael-min.js' %}"></script>

<!-- Colors js-->
<script type="text/javascript" src="{% static 'cafe/js/colors.js' %}"></script>

<!-- Drawing js-->
<script type="text/javascript" src="{% static 'cafe/js/tactile.js' %}"></script>

<!-- Pixi js-->
<script type="text/javascript" src="{% static 'fabric/fabric.js' %}"></script>

<!-- Drawing js-->
<script type="text/javascript" src="{% static 'cafe/js/drawing/shapes.js' %}"></script>
<script type="text/javascript" src="{% static 'cafe/js/drawing/drawing.js' %}"></script>
<script type="text/javascript" src="{% static 'cafe/js/drawing/easel.js' %}"></script>

<script type="text/javascript" src="{% static 'cafe/js/task.js' %}"></script>

<!-- CrowdCafe Cafe js-->
<script type="text/javascript" src="{% static 'cafe/js/crowdcafe-lib.js' %}"></script>
<script type="text/javascript" src="{% static 'cafe/js/crowdcafe.js' %}"></script>