{%load static%}

<!-- Framework7 Library js-->
<script type="text/javascript" src="{% static 'framework7/dist/js/framework7.min.js' %}"></script>

<!-- SVG js-->
<script type="text/javascript" src="{% static 'libs/raphael/raphael-min.js' %}"></script>

<!-- Colors js-->
<script type="text/javascript" src="{% static 'cafe/js/colors.js' %}"></script>

<!-- Annotations js-->
<script type="text/javascript" src="{% static 'cafe/js/annotations.js' %}"></script>

<!-- CrowdCafe Cafe js-->
<script type="text/javascript" src="{% static 'cafe/js/crowdcafe-lib.js' %}"></script>
<script type="text/javascript" src="{% static 'cafe/js/crowdcafe.js' %}"></script>