{%load static%}

<!-- Framework7 Library js-->
<script type="text/javascript" src="{% static 'framework7/dist/js/framework7.min.js' %}"></script>

<!-- Colors js-->
<script type="text/javascript" src="{% static 'cafe/js/colors.js' %}"></script>

<!-- Drawing js-->
<script type="text/javascript" src="{% static 'cafe/js/tactile.js' %}"></script>

<script type="text/javascript" src="{% static 'libs/fabric/fabric.js' %}"></script>
<script type="text/javascript" src="{% static 'shake.js/shake.js' %}"></script>

<!-- Drawing js-->
<script type="text/javascript" src="{% static 'cafe/js/drawing/shapes.js' %}"></script>
<script type="text/javascript" src="{% static 'cafe/js/drawing/drawing.js' %}"></script>
<script type="text/javascript" src="{% static 'cafe/js/drawing/easel.js' %}"></script>

<script type="text/javascript" src="{% static 'cafe/js/task.js' %}"></script>

<!-- CrowdCafe Cafe js-->
<script type="text/javascript" src="{% static 'cafe/js/crowdcafe-lib.js' %}"></script>
<script type="text/javascript" src="{% static 'cafe/js/crowdcafe.js' %}"></script>

<script>
/*window.onload = function() {

	window.addEventListener('shake', shakeEventDidOccur, false);
	
	//define a custom method to fire when shake occurs.
	function shakeEventDidOccur () {
	
	}
};*/
//TODO implement one-step-back function
//TODO apply one-step-back function on shake event
</script>