{%load static%}
<!-- Framework7 Library CSS-->
<link rel="stylesheet" href="{% static 'framework7/dist/css/framework7.css' %}">

<!-- FontAwesome styles-->
<link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}">

<!-- CrowdCafe - Cafe styles-->
<link rel="stylesheet" href="{% static 'cafe/css/crowdcafe.css' %}">

<!-- Brand Buttons styles http://theaqua.github.io/BrandButtons/-->
<link rel="stylesheet" href="{% static 'BrandButtons/dist/brand-buttons.min.css' %}">
<link rel="stylesheet" href="{% static 'BrandButtons/dist/brand-buttons-inversed.min.css' %}">