{%load static%}
<!-- Framework7 Library CSS-->
<link rel="stylesheet" href="{% static 'libs/framework7/css/framework7.css' %}">

<!-- FontAwesome styles-->
<link rel="stylesheet" href="{% static 'libs/fontawesome/css/font-awesome.min.css' %}">

<!-- CrowdCafe - Cafe styles-->
<link rel="stylesheet" href="{% static 'cafe/css/crowdcafe.css' %}">

<!-- Brand Buttons styles http://theaqua.github.io/BrandButtons/-->
<link rel="stylesheet" href="{% static 'libs/brand-buttons/brand-buttons.min.css' %}">
<link rel="stylesheet" href="{% static 'libs/brand-buttons/brand-buttons-inversed.min.css' %}">